fastapi==0.111.0
uvicorn[standard]==0.30.1
asyncpg==0.29.0
pydantic==2.7.4
pydantic-settings==2.3.3
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
ntplib==0.4.0
boto3==1.34.144
redis==5.0.7
pyotp==2.9.0
httpx==0.27.0
python-dotenv==1.0.1
